{{- $src := .Get "src" | relURL -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $style := .Get "style" -}}
{{- $noLightbox := eq (.Get "lightbox") "false" -}}
{{- if $noLightbox -}}
<img src="{{ $src }}" alt="{{ $alt }}" {{ with $width }}width="{{ . }}"{{ end }} {{ with $style }}style="{{ . }}"{{ end }} />
{{- else -}}
{{- $id := .Get "src" | anchorize -}}
<a href="#lightbox-{{ $id }}" class="lightbox-link">
    <img src="{{ $src }}" alt="{{ $alt }}" {{ with $width }}width="{{ . }}"{{ end }} {{ with $style }}style="{{ . }}"{{ end }} />
</a>
<a href="#lightbox-close" id="lightbox-{{ $id }}" class="lightbox-overlay">
    <img src="{{ $src }}" alt="{{ $alt }}">
</a>
{{- end -}}
